@page
@{ 

}
<ul>
    <li><a href="~/TimeMachine/margrethe">Magrethe II Fødselsdag: 16. april</a></li>
    <li><a href="~/TimeMachine/worldwar2">Afslutningen af anden verdenskrig: 15. august 1945</a></li>
    <li><a href="~/TimeMachine/dimission">Jeg afslutter min AspIT uddannelse den: Torsdag d.13/1 2022 tror jeg nok </a></li>
</ul>