<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TimeMachine - Frontpage</title>
</head>
<body>
    <header>
        <img src="img/timemachine.jpg" alt="">
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; TimeMachine Inc. 1654 - @DateTime.Now.AddYears(20)</p>
    </footer>
</body>
</html>